@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table.striped > tbody > tr:nth-child(2n + 1) {
    background-color: var(--table-stripe-fill-color);
}

.w-13 {
    width: 3.25rem;
}

.body-text-muted {
    color: color-mix(in srgb, var(--body-text-color) 50%, transparent);
}
