@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table.striped tr:nth-child(2n) td {
    background-color: var(--table-stripe-fill-color);
}

.best-run::before {
    content: "(";
}

.best-run::after {
    content: ")";
    position: absolute;
}
