<div class="flex flex-col gap-4">
  <Conecerto.ScoreboardWeb.Tables.subgroup_nav
    names={@groups |> Enum.map(& &1.name)}
    divider="•"
  />

  <Conecerto.ScoreboardWeb.Tables.multi_group_scores
    groups={@groups}
    time_column_title="PAX Best"
    time_column_field={:pax_time}
  />
</div>
