<%= for group <- @groups do %>
  <div class="p-1">
    <div class="text-xl text-center font-semibold pb-2 pt-1">{group.name}</div>
    <Conecerto.ScoreboardWeb.Tables.group_scores
      scores={group.scores}
      time_column_title="PAX Best"
      time_column_field={:pax_time}
    />
  </div>
<% end %>
