<!DOCTYPE html>
<html lang="en">
  <head>
    <% top_nav_fill_color = "rgb(38, 38, 38)" %>

    <meta charset="utf-8" />
    <meta name="theme-color" content={top_nav_fill_color} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Conecerto Scoreboard">
      <%= assigns[:page_title] || assigns[:active_tab] || "Home" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={with_base_path(@conn, ~p"/assets/app.css")} />
    <style>
      :root {
        --primary-text-color: white;
        --body-fill-color: rgb(23, 23, 23);              /* neutral-900 */
        --panel-fill-color: rgb(38, 38, 38);
        --top-nav-fill-color: <%= top_nav_fill_color %>; /* neutral-800 */
        --top-nav-border-color: rgb(64, 64, 64);         /* neutral-700 */
        --top-nav-active-text-color: rgb(239, 68, 68);   /* red-500 */
        --table-stripe-fill-color: #383838;
      }

      html {
        line-height: 1.25rem;
      <%= if assigns[:root_font_size] do %>
        font-size: <%= @root_font_size %>px;
      <% end %>
      }

      @font-face {
        font-family: 'RobotoCondensed';
        src: url(<%= with_base_path(@conn, ~p"/fonts/RobotoCondensed-Regular.ttf") %>);
      }

      body {
        font-family: RobotoCondensed;
      }
    </style>
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={with_base_path(@conn, ~p"/assets/app.js")}
    >
    </script>
  </head>
  <%= @inner_content %>
</html>
