<!DOCTYPE html>
<html lang="en">
  <head>
    <% top_nav_fill_color = assigns[:colors]["header-fill"] %>

    <meta charset="utf-8" />
    <meta name="theme-color" content={top_nav_fill_color} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix={title_suffix(assigns[:event_date], assigns[:event_name])}>
      {assigns[:page_title] || assigns[:active_tab] || "Home"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={with_base_path(@conn, ~p"/assets/app.css")} />
    <style>
      @media screen {
        :root {
          <%= for {name, value} <- assigns[:colors] do %>
            --<%= name %>-color: <%= value %>;
          <% end %>
        }
      }

      @media print {
        :root {
          print-color-adjust: exact;
          --body-text-color: black;
          --body-fill-color: none;
          --table-stripe-fill-color: #eee;
        }
      }

      @font-face {
        font-family: 'RadioCanada';
        src: url(<%= with_base_path(@conn, ~p"/fonts/RadioCanada-Variable.ttf") %>);
      }

      html {
        line-height: 1.25rem;
        font-family: "RadioCanada";
        font-stretch: condensed;
      }
    </style>
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={with_base_path(@conn, ~p"/assets/app.js")}
    >
    </script>

    <script :if={Map.get(assigns, :print?, false)}>
      window.addEventListener("load", (event) => {
        window.onafterprint = window.close;
        window.print();
      });
    </script>
  </head>
  {@inner_content}
</html>
