<style>
  html {
    <%= if assigns[:root_font_size] do %>
      font-size: <%= @root_font_size %>px;
    <% end %>
  }
  body {
    font-stretch: condensed;
  }
</style>
<div class="tv flex flex-col justify-between gap-2 h-screen p-1">
  <div class="flex flex-row gap-2">
    <div class="flex flex-col basis-[25%] justify-stretch gap-2">
      <div class="bg-[--panel-fill-color] p-2 rounded-md">
        <.panel_header>Recently Finished</.panel_header>
        <Conecerto.ScoreboardWeb.Tables.recent_runs
          runs={@recent}
          combine_model_column?={true}
          show_selection?={true}
        />
        <%= if @last_driver do %>
          <hr class="border-[--header-border-color] border-dashed my-0.5" />
          <div class="flex flex-row gap-3 items-start justify-center">
            <div class="grid grid-cols-3 gap-x-8 gap-y-1 pl-8 pr-2 pt-1 text-right">
              <%= for run <- @last_driver.runs do %>
                <Conecerto.ScoreboardWeb.Tables.run_result run={run} />
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="bg-[--panel-fill-color] p-2 rounded-md">
        <.panel_header>Out On Course</.panel_header>
        <Conecerto.ScoreboardWeb.Tables.recent_runs
          id="in-progress-runs"
          runs={@running}
          combine_model_column?={true}
        />
      </div>
      <div class="bg-[--panel-fill-color] p-2 rounded-md flex-auto">
        <.panel_header>At the Start Line</.panel_header>
        <Conecerto.ScoreboardWeb.Tables.recent_runs
          runs={@staged}
          combine_model_column?={true}
        />
      </div>
    </div>
    <div class="flex-auto grid grid-cols-3 gap-2">
      <div class="bg-[--panel-fill-color] p-2 rounded-md pr-3 col-start-1 row-start-1">
        <.announce_scores
          scores={@raw_scores}
          view_title="RAW"
          time_column_title="Raw Best"
          time_column_field={:raw_time}
        />
      </div>
      <div class="bg-[--panel-fill-color] p-2 rounded-md pr-3 col-start-1 row-start-2">
        <.announce_scores
          scores={@pax_scores}
          view_title="PAX"
          time_column_title="Pax Best"
          time_column_field={:pax_time}
        />
      </div>
      <%= for group <- @group_scores do %>
        <div class="bg-[--panel-fill-color] p-2 rounded-md pr-3">
          <.announce_scores
            scores={group.scores}
            view_title={group.name}
            time_column_title="Pax Best"
            time_column_field={:pax_time}
          />
        </div>
      <% end %>
    </div>
  </div>
  <div class="bg-[--panel-fill-color] p-2 rounded-md flex flex-col items-center sticky bottom-0">
    <div class="text-lg flex items-center gap-5">
      <div class="whitespace-nowrap text-center">Font size:</div>
      <div class="flex items-center">
        <button class="px-2 text-2xl" phx-click="font_size:increase">+</button>
        <button class="px-2 text-2xl" phx-click="font_size:decrease">-</button>
        <button class="px-2 text-2xl" phx-click="font_size:reset">⮌</button>
      </div>
    </div>
  </div>
</div>
