<style>
  html {
    <%= if assigns[:root_font_size] do %>
      font-size: <%= @root_font_size %>px;
    <% end %>
  }
  body {
    font-stretch: semi-condensed;
  }
</style>
<div class="tv flex flex-col gap-2 h-screen p-2">
  <div class="flex flex-row justify-stretch gap-2">
    <div class="basis-[40%] bg-[--panel-fill-color] p-2 rounded-md">
      <%= if @last_driver do %>
        <.panel_header>{@last_driver.name}</.panel_header>
        <div class="flex flex-row gap-10 items-start justify-center">
          <%= for group <- Enum.chunk_every(@last_driver.runs, 5) do %>
            <table class="striped">
              <thead>
                <th class="text-right">Run</th>
                <th class="text-left pl-2">Elapsed</th>
                <th class="text-left pl-3">Pen</th>
              </thead>
              <tbody>
                <%= for row <- group do %>
                  <tr class={[row.selected && "text-amber-300"]}>
                    <td class="text-right">{row.counted_run_no}</td>
                    <td class="text-right whitespace-nowrap">
                      <div class={row.best && "underline underline-offset-2"}>
                        {row.run_time |> format_score()}
                      </div>
                    </td>
                    <td class="text-left pl-3 whitespace-nowrap">
                      {row.penalty |> format_penalty()}
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="basis-[50%] bg-[--panel-fill-color] p-2 rounded-md flex flex-col items-center">
      <.panel_header>Recent runs</.panel_header>
      <Conecerto.ScoreboardWeb.Tables.recent_runs runs={@recent_runs} show_selection?={true} />
    </div>
    <div class="basis-[10%] bg-[--panel-fill-color] p-2 rounded-md flex flex-col items-center">
      <.panel_header>Settings</.panel_header>
      <div class="text-lg">
        <div class="whitespace-nowrap text-center">Font size</div>
        <div>
          <button class="px-2 py-1 text-2xl" phx-click="font_size:increase">+</button>
          <button class="px-2 py-1 text-2xl" phx-click="font_size:decrease">-</button>
          <button class="px-2 py-1 text-2xl" phx-click="font_size:reset">⮌</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-auto grid grid-cols-4 gap-2">
    <div class="bg-[--panel-fill-color] p-2 rounded-md pr-3 col-start-1 row-start-1">
      <.announce_scores
        scores={@raw_scores}
        view_title="RAW"
        time_column_title="Raw Best"
        time_column_field={:raw_time}
      />
    </div>
    <div class="bg-[--panel-fill-color] p-2 rounded-md pr-3 col-start-1 row-start-2">
      <.announce_scores
        scores={@pax_scores}
        view_title="PAX"
        time_column_title="Pax Best"
        time_column_field={:pax_time}
      />
    </div>
    <%= for group <- @group_scores do %>
      <div class="bg-[--panel-fill-color] p-2 rounded-md pr-3">
        <.announce_scores
          scores={group.scores}
          view_title={group.name}
          time_column_title="Pax Best"
          time_column_field={:pax_time}
        />
      </div>
    <% end %>
  </div>
</div>
